*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 4.5rem;
    background-color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .container-fluid{
    background-color: #302B41;
    height: 100%;
}

.hero{
    width: 100%;
    background-image: url(img/fondohero.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
}
.logo{
    height: 20rem;
}

.logo--v{
    height: 55px;
    position: absolute;
    top: 3rem;
    right: 4rem;
}

.equipo__carta{
    width: 100%;
}

.equipo__texto{
    text-align: center;
    width: 100%;
}

.carac{
    height: 18em;
    background-image: radial-gradient(circle, #312c42, #4b3b6c, #6a4997, #9154c1, #bd5cea);
}
.carac h4{
    font-weight: lighter;
    font-family: 'Press Start 2P', cursive;
}

.carac__carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}


