*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 4.5rem;
    background-color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .container-fluid{
    background-color: #302B41;
    height: 100%;
}

.hero{
    width: 100%;
    background-image: url(img/fondohero.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
}
.logo{
    height: 20rem;
}

.logo--v{
    height: 55px;
    position: absolute;
    top: 3rem;
    right: 4rem;
    
}

.carac{
    min-height: 18em;
    background-image: radial-gradient(circle, #312c42, #4b3b6c, #6a4997, #9154c1, #bd5cea);
}

.carac h4{
    font-family: 'Press Start 2P', cursive;
}

.carac__carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.equipo{
    min-height: 70vh;
}

.equipo h4{
    font-family: 'Press Start 2P', cursive;
    color: #4b3b6c;    
}

.equipo__grid{
    gap: 1rem;
}

.equipo__img{
    width: 100%;
}


.equipo__texto{
    font-family: 'Press Start 2P', cursive;
    color: #6a4997;
}

.invitados{
    min-height: 80vh;
    
    background-image: radial-gradient(circle, #bd5cea, #9154c1, #6a4997, #4b3b6c, #312c42);    
}

/* .invitados__fotos{
    width: 50%;
    
} */

.invitados__fotos img{
    width: 45%;
}

/* .invitados__title{
    width: 30%;
    height: 100%;
} */

.invitados__title h4{
    font-family: 'Press Start 2P', cursive;   
}

.invitados__title a{
    font-family: 'Press Start 2P', cursive;   
}

footer{
    background-color: #302B41;
    height: 3em;
}
footer img{
    height: 100%;
}

.icono{
    height: 1.7rem;
}

